/* Imported fonts */

@font-face {
    font-family: 'Elsie';
    src: url('../fonts/Elsie-Regular.woff2') format('woff2'),
         url('../fonts/Elsie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.woff2') format('woff2'),
         url('../fonts/Philosopher-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofadi One';
    src: url('../fonts/SofadiOne-Regular.woff2') format('woff2'),
         url('../fonts/SofadiOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* General styles */

html {
  --mainBkgnd: hsl(40deg 70% 93%);
  --lightBrown: hsl(20deg 70% 88%);
  --mediumBrown: hsl(20deg 50% 45%);
  --darkBrown: hsl(20deg 70% 25%);
  --lightGreen: hsl(90deg 60% 80%);
  --mediumGreen: hsl(90deg 60% 40%);
  --darkGreen: hsl(90deg 60% 25%);
  --lightPink: hsl(350deg 100% 90%);
  --mediumPink: hsl(350deg 100% 83%);
  --darkPink: hsl(350deg 100% 78%);
  --lightShadow: hsl(0deg 0% 65%);
  --darkShadow: hsl(0deg 0% 45%); 
}

body {
  margin: 0 auto;
  padding: 5px;
  max-inline-size: 1600px;
  font: 1em / 1.6 sans-serif;
  color: hsl(0deg 0% 10%);
  background-color: var(--mainBkgnd);
}


/* Typography */

article p {
  font-family: "Elsie", "Times New Roman", "Times", serif;
  font-size: 1.4rem;
  text-indent: 1rem;
}

article p::first-letter {
  margin-inline-end: 2px;
  padding: 0 0 1px 5px;
  font-size: 2.5rem;
  letter-spacing: 10px;
  color: var(--darkBrown);
  text-shadow: 1px 1px var(--darkBrown),
               2px 2px 1px hsl(0deg 0% 95%),
               3px 3px 1px hsl(0deg 0% 95%),
               4px 4px var(--darkPink);
  border-block-start: 2px dotted var(--darkPink);
  border-inline-start: 2px dotted var(--darkPink);
  border-radius: 8px 10px 10px;
  box-shadow: -2px -2px 5px var(--darkBrown),
        inset -2px -2px 2px var(--mainBkgnd);
  background-color: var(--lightBrown);  
}

article p::first-line {
  line-height: 1.3;
}

aside p,
footer a,
footer p {  
  font-family: "Philosopher", "Times New Roman", "Times", serif;
}

aside p {
  margin: 0;
  font-size: 1.1rem;
}

footer a,
footer p {
  margin: 0;
  font-size: 1rem;
  color: var(--darkBrown);
}

h1, h2 {
  margin: 0;
  font-family: "Sofadi One", "Times New Roman", "Times", serif;
  text-shadow: 2px 2px 3px var(--darkShadow);
}
 
h1 {
  font-size: calc(1.2rem + 2vw);
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-size: calc(1.2rem + 1vw);
}

aside h2 {
  font-size: 1.3rem;
}


/* Links */

a {
  padding: 1px;
  border-radius: 3px;
}

a:link {
  color: var(--darkGreen);
}

a:visited {
  color: var(--mediumGreen);
}

a:focus,
a:hover {
  text-decoration: none;
}

a:active {
  color: var(--mediumPink);
  background-color: var(--darkGreen);
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  margin-inline-start: 0.25em;
  inline-size: 0.7em;
  block-size: 0.7em;
  background-size: 100%;
  background-image: url("../images/external-link-52-green.png");
}


/* Mobile layout */

h1, h2 {
  margin: 10px 7px 7px 14px;
  color: var(--darkBrown);
}

header {
  display: flex;
  gap: 10px;
}

div.logo {
  flex: 1 1 auto;
  font-family: "Philosopher", "Times New Roman", "Times", serif;
  font-size: calc(1.6rem + 2vw);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: var(--mediumBrown);
  text-shadow: 1px 1px 1px hsl(0deg 0% 92%),
               2px 2px 1px var(--darkPink);
  border-radius: 6px;
  box-shadow: 0 0 4px var(--darkPink);              
  background-image: linear-gradient(to top right, hsl(20deg 70% 80% / 70%), transparent, hsl(350deg 100% 85% / 60%));
  background-color: hsl(40deg 90% 90%);  
}

button {
  padding: 0 8px 0 7px;
  font-size: 2.2rem;
  color: var(--mediumBrown);
  border: 0;
  background: none;
  cursor: pointer;
}

button:hover,
button:focus {
  text-shadow: 0 0 3px var(--mediumPink);
}

input[id="stickyMenu"],
label[id="stickyBtn"] {
  display: none;
}

nav {
  display: none;
  position: fixed;
  inset: 10%;
  background-color: var(--mainBkgnd);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  block-size: 125%;
  gap: 10px;
}

nav li {
  flex: 1 1 0;
}

nav a {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  font-family: "Philosopher", "Times New Roman", "Times", serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: inset 0 0 3px var(--darkBrown);
  background-color: var(--lightBrown); 
}

nav a:visited {
  color: var(--darkGreen);
}

nav a:focus,
nav a:hover {
  font-weight: bold;  
}

nav a:active {
  color: var(--darkGreen);
  background-color: var(--lightBrown);
}

aside {
  margin-block-start: 20px;
  border-block-start: 2px solid var(--mediumBrown);
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 8px 7px 7px 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--darkPink);
  background-color: var(--lightBrown);
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 10px 7px 7px 14px; 
}


/* Middle layout */

@media screen and (width > 850px) {

body {
  padding: 4px 15px 15px 15px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;
}

button {
  display: none;
}

label[id="stickyBtn"] {
  display: inline-block;
  margin-inline-start: 3.5vw;
  padding: 5px 1.5vw 3px;
  font-family: "Philosopher", "Times New Roman", "Times", serif;
  font-size: 1.1rem;
  color: var(--darkBrown);
  border-radius: 18px;
  box-shadow: 4px 4px 3px var(--darkShadow),
        inset 1px 1px 3px var(--darkShadow),
        inset 4px 4px 6px var(--lightShadow),
        inset -2px -2px 3px var(--lightShadow);
  background-color: var(--lightBrown);
  cursor: pointer;
}

input[id="stickyMenu"]:checked + nav {
  position: sticky;
}

input[id="stickyMenu"]:checked + nav label[id="stickyBtn"] {
  color: transparent;
  text-shadow: 2px 1px var(--darkBrown);
  box-shadow: 2px 2px 2px var(--darkShadow),
        inset 3px 3px 4px var(--darkShadow),
        inset 7px 7px 8px var(--lightShadow),
        inset -1px -1px 2px var(--lightShadow);
  background-color: var(--lightPink);
}

nav {
  grid-column: col-start / span 12;
  grid-row: 1;
  display: block;
  position: static;
  inset: 0%;
  background-color: transparent; 
}

nav ul {
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  block-size: auto;
  box-shadow: 0 8px 8px hsl(40deg 70% 93% / 50%);
  background-color: hsl(40deg 70% 93% / 50%);  
}

nav a {
  padding: 5px 0 3px;
  inline-size: auto;
  block-size: auto;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--lightGreen);
  border-radius: 18px;
  box-shadow: 4px 4px 3px var(--darkShadow),
        inset 1px 1px 3px var(--darkShadow),
        inset 4px 4px 6px var(--lightShadow),
        inset -2px -2px 3px var(--lightShadow);
  background-image: linear-gradient(to bottom right, hsl(0deg 0% 10% / 0%) 40%, hsl(0deg 0% 10% / 10%));
  background-color: var(--lightBrown);
  transition: all 100ms;
}

nav a:hover {
  background-color: var(--lightPink);
}

nav a:active {
  color: transparent;
  text-shadow: 2px 1px var(--darkBrown),
               3px 2px 1px var(--mediumPink);
  box-shadow: 2px 2px 2px var(--darkShadow),
        inset 3px 3px 4px var(--darkShadow),
        inset 7px 7px 8px var(--lightShadow),
        inset -1px -1px 2px var(--lightShadow);
  background-image: linear-gradient(to top left, hsl(0deg 0% 10% / 0%) 40%, hsl(0deg 0% 10% / 10%));
  background-color: var(--lightPink); 
}

article {
  grid-column: col-start / span 10;
  grid-row: 2;
}

aside {
  margin-block-start: 29px;
  grid-column: col-start 11 / span 2;
  grid-row: 2;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 5px var(--mediumBrown);
}

footer {
  grid-template-columns: 1fr 1fr 1fr; 
 }
}


/* Wide layout */

@media screen and (width > 1300px) {

label[id="stickyBtn"] {
  margin: 0;
  padding: 5px 0 3px;
  inline-size: 100%;
  text-align: center;
}

input[id="stickyMenu"]:checked + nav ul {
  position: sticky;
}

nav {
  margin-block-start: 29px;
  grid-column: col-start / span 2;
  position: static;
  border-radius: 8px;
  box-shadow: inset 0 0 5px var(--mediumBrown);
}

nav ul {
  padding: 15px;
  flex-direction: column;
  position: static;
  inset: 0%;
  box-shadow: none;
  background-color: transparent; 
}

nav li {
  flex: 0 1 auto;
}

article {
  grid-column: col-start 3 / span 8;
  grid-row: 1;
}

aside {
  grid-column: col-start 11 / span 2;
  grid-row: 1;
}

footer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}


/* Printer output */

@media print {

button, label, nav {
  display: none;
 }
}