/* Mobile layout */

img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  border: 3px ridge var(--darkPink);
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--darkShadow),
              4px 4px 4px var(--lightShadow);
}

picture.topImage img {
  margin-block-start: 15px;
  border: 4px ridge var(--mediumBrown);
  box-shadow: 3px 2px 4px var(--darkShadow),
              7px 6px 5px var(--lightShadow);
}

div.collage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 15px;
  padding: 20px 6px 0 0;
}


/* Middle layout */

@media screen and (width > 850px) {

picture.topImage img {
  margin: 15px 25px 0 2px;
  float: inline-start;
}

div.roseCollage1 {
  grid-template-columns: repeat(3, 1fr);
}
    
div.roseCollage1 picture:nth-child(1) {
  grid-column: 1;
  grid-row: 3 / span 3;
}

div.roseCollage1 picture:nth-child(2) {
  grid-column: 2;
  grid-row: 2 / span 3;
}

div.roseCollage1 picture:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / span 3;
}
  
div.roseCollage1 picture:nth-child(4) {
  grid-column: 1;
  grid-row: 7 / span 3;
}

div.roseCollage1 picture:nth-child(5) {
  grid-column: 2;
  grid-row: 6 / span 3;
}

div.roseCollage1 picture:nth-child(6) {
  grid-column: 3;
  grid-row: 5 / span 3;
}
  
div.roseCollage1 picture:nth-child(7) {
  grid-column: 1;
  grid-row: 11 / span 3;
}

div.roseCollage1 picture:nth-child(8) {
  grid-column: 2;
  grid-row: 10 / span 3;
}

div.roseCollage1 picture:nth-child(9) {
  grid-column: 3;
  grid-row: 9 / span 3;
}

div.roseCollage1 picture:nth-child(10) {
  grid-column: 1;
  grid-row: 15 / span 3;
}

div.roseCollage1 picture:nth-child(11) {
  grid-column: 2;
  grid-row: 14 / span 3;
}

div.roseCollage1 picture:nth-child(12) {
  grid-column: 3;
  grid-row: 13 / span 3;
}

div.roseCollage1 picture:nth-child(13) {
  grid-column: 1;
  grid-row: 19 / span 3;
}

div.roseCollage1 picture:nth-child(14) {
  grid-column: 2;
  grid-row: 18 / span 3;
}

div.roseCollage1 picture:nth-child(15) {
  grid-column: 3;
  grid-row: 17 / span 3;
}

div.roseCollage2 {
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(40, auto);
  column-gap: 0;
}
  
div.roseCollage2 picture:nth-child(1) {
  grid-column: 1 / span 5;
  grid-row: 9 / span 5;
}

div.roseCollage2 picture:nth-child(2) {
  grid-column: 5 / span 5;
  grid-row: 5 / span 5;
}

div.roseCollage2 picture:nth-child(3) {
  grid-column: 9 / span 5;
  grid-row: 1 / span 5;
}

div.roseCollage2 picture:nth-child(4) {
  grid-column: 1 / span 5;
  grid-row: 18 / span 5;
}

div.roseCollage2 picture:nth-child(5) {
  grid-column: 5 / span 5;
  grid-row: 14 / span 5;
}

div.roseCollage2 picture:nth-child(6) {
  grid-column: 9 / span 5;
  grid-row: 10 / span 5;
}

div.roseCollage2 picture:nth-child(7) {
  grid-column: 1 / span 5;
  grid-row: 27 / span 5;
}

div.roseCollage2 picture:nth-child(8) {
  grid-column: 5 / span 5;
  grid-row: 23 / span 5;
}

div.roseCollage2 picture:nth-child(9) {
  grid-column: 9 / span 5;
  grid-row: 19 / span 5;
}

div.roseCollage2 picture:nth-child(10) {
  grid-column: 1 / span 5;
  grid-row: 36 / span 5;
}

div.roseCollage2 picture:nth-child(11) {
  grid-column: 5 / span 5;
  grid-row: 32 / span 5;
}

div.roseCollage2 picture:nth-child(12) {
  grid-column: 9 / span 5;
  grid-row: 28 / span 5;
}

div.roseCollage3 {
  grid-template-columns: repeat(3, 1fr);
  padding-block-end: 2px;
}

div.roseCollage3 picture:nth-child(1) {
  grid-column: 1;
  grid-row: 3 / span 3;
}

div.roseCollage3 picture:nth-child(2) {
  grid-column: 2;
  grid-row: 2 / span 3;
}

div.roseCollage3 picture:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / span 3;
}
  
div.roseCollage3 picture:nth-child(4) {
  grid-column: 1;
  grid-row: 7 / span 3;
}

div.roseCollage3 picture:nth-child(5) {
  grid-column: 2;
  grid-row: 6 / span 3;
}

div.roseCollage3 picture:nth-child(6) {
  grid-column: 3;
  grid-row: 5 / span 3;
}
  
div.roseCollage3 picture:nth-child(7) {
  grid-column: 1;
  grid-row: 11 / span 3;
}

div.roseCollage3 picture:nth-child(8) {
  grid-column: 2;
  grid-row: 10 / span 3;
}

div.roseCollage3 picture:nth-child(9) {
  grid-column: 3;
  grid-row: 9 / span 3;
}

div.roseCollage3 picture:nth-child(10) {
  grid-column: 1;
  grid-row: 15 / span 3;
}

div.roseCollage3 picture:nth-child(11) {
  grid-column: 2;
  grid-row: 14 / span 3;
}

div.roseCollage3 picture:nth-child(12) {
  grid-column: 3;
  grid-row: 13 / span 3;
 }
}
